* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: lightgray;
}

i {
    font-size: 200px;
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(22, 22, 22);
}

#root {
    text-align: center;
}

button {
    font-size: 1em;
    display: block;
    margin: 20px auto;
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(79, 77, 90);
    color: white;
}

button:hover {
    font-size: 1.1em;
}

.rolling {
    animation-name: wobble;
    animation-duration: 1s;
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}